td {
    font-family: arial;
    font-size: 12px;
    border: 1px solid green;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.left_section {
    float: left;
    width: 25%;
    border-right: 2px #8fbc8f solid;
}

.description {
    background-color: WhiteSmoke;
    border: 1px solid blue;
    border-radius: 10px 10px 10px 10px;
    font-family: arial;
    font-size: 12px;
    min-height: 30px;
    /*left: 70%;*/
    /*margin: 5px auto;*/
    padding: 20px;
    /*position: absolute;*/
    /*top: 10px;*/
    /*width: 100%;*/
    /*width: 230px;*/
}

.search_block {
    /*margin-left: 200px;*/
    /*height: 100%;*/
    width: 100%;

}

.results {

}

.search_form {

}

.map_section {
    height: 98%;
    margin-left: 25%;
    position: absolute;
    width: 74%;
}

.scroll_container {
    width: 1000px;
    margin: 0 auto;
}

.row {
    width: 100%;
    font-family: arial;
    font-size: 12px;
    border: 1px solid green;
    display: inline-block;

}

.numb {
    width: 30px;
    float: left;
    /*border: 1px solid green;*/
}

.coord {
    width: 270px;
    float: left;
    /*border: 1px solid green;*/
}

.full_desc {
    width: 700px;
    float: left;
    /*border: 1px solid green;*/
}

