td {
    font-family: arial;
    font-size: 12px;
    border: 1px solid green;
}

.description {
    background-color: WhiteSmoke;
    border: 1px solid blue;
    border-radius: 10px 10px 10px 10px;
    font-family: arial;
    font-size: 12px;
    min-height: 200px;
    left: 70%;
    margin: auto;
    padding: 20px;
    position: absolute;
    top: 10px;
    width: 300px;
}

.scroll_container {
    width: 1000px;
    margin: 0 auto;
}

.row {
    width: 100%;
    font-family: arial;
    font-size: 12px;
    border: 1px solid green;
    display: inline-block;

}

.numb {
    width: 30px;
    float: left;
    /*border: 1px solid green;*/
}

.coord {
    width: 270px;
    float: left;
    /*border: 1px solid green;*/
}

.full_desc {
    width: 700px;
    float: left;
    /*border: 1px solid green;*/
}

