- @index = 0 if @index.nil?
- @pointers.each_with_index do |elem, index|
  .row
    .numb
      = @index + index + 1
    .coord
      "#{elem.latitude}, #{elem.longitude}"
    .full_desc
      = elem.full_desc