= javascript_include_tag 'jquery.scrollExtend'

:javascript
  jQuery(document).ready(
    function() {
      jQuery('.scroll_container').scrollExtend(
        {
          'target': 'div#scroll_items',
          'url': "/dynamic_content",
          'newElementClass': 'list_item more_content'
        }
      );
    }
  );


=link_to "Map", :action => :map
=link_to "Parse", :action => :parse

= @resc_arr.size
= @pointers.size

.scroll_container
  = render :partial => 'pointers'

