= javascript_include_tag 'jquery.scrollExtend'

:javascript
  var index = 1
  jQuery(document).ready(
    function() {
    //
    //
    }

  );

  $(window).scroll(
  function()
  {

    var fire = $("#hid_inp").attr("value");
    var add_pointers = $("#add_pointers").attr("value");

      if ((document.body.scrollHeight - $(this).scrollTop()  > $(this).height()) && (fire == "1"))
      {
        fire = "0";
      };

      if ((document.body.scrollHeight - $(this).scrollTop()  <= $(this).height()) && (fire == "0") && (add_pointers == "1"))
      {
          index = index + 1;

          $.get("/dynamic_content?index="+index,
            function(data) {
              data;
          });
          fire = "1";
      };
      $("#hid_inp").attr("value", fire);
  });


=link_to "Map", :action => :map
=link_to "Parse", :action => :parse

= @resc_arr.size
= @pointers.size

%input{:id=>"add_pointers", :type => "hidden", :value => "1"}
%input{:id=>"hid_inp", :type => "hidden", :value => "0"}

.scroll_container
  = render :partial => 'pointers'

