= javascript_include_tag 'jquery.scrollExtend'

:javascript
  var index = 1
  //jQuery(document).ready(
  //  function() {

      //jQuery('.scroll_container').scrollExtend(
      //  {
      //    'target': 'div#scroll_items',
      //    'url': "/dynamic_content?in="+index,
      //    'newElementClass': 'list_item more_content'
      //  }
      //);
    //}
  //
  //);

  $(window).scroll(
  function()
  {

    var fire = $("#hid_inp").attr("value");

      if ((document.body.scrollHeight - $(this).scrollTop()  > $(this).height()) && (fire == "1"))
      {
        fire = "0";
      };

      if ((document.body.scrollHeight - $(this).scrollTop()  <= $(this).height()) && (fire == "0"))
      {
          index = index + 1;

          $.get("/dynamic_content?in="+index,
            function(data) {
              $('.scroll_container').html(data);
              alert('Load was performed.');
          });
          //$(document).attr('title',index);
          fire = "1";
      };
      $("#hid_inp").attr("value", fire);
  });


=link_to "Map", :action => :map
=link_to "Parse", :action => :parse

= @resc_arr.size
= @pointers.size

%input{:id=>"hid_inp", :type => "hidden", :value => "0"}

.scroll_container
  = render :partial => 'pointers'

